/*
Styles for welcome.jsp
*/
/* 
    Created on : 03.10.2017, 18:37:12
    Author     : Tiger
*/

.header {
    background-color: #777;
    height: 50px;
}

.header div {
    display: inline-block;
    height: 50px;
}

#project-logo h1 {
    margin: 4px 0 0 80px;
    font-weight: bold;
    color: white;
    font-family: verdana;
}

.header .search input {
    padding: 5px;
    border-radius: 5px;
}

.header .top-buttons {
    float: right;
    margin-right: 35px;
}

.header .top-buttons a {
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: none;
}

.header .top-buttons li {
    list-style: none;
    display: inline;
    padding: 15px;
    
}

.left-side-bar {
    width: 300px;
    height: 100%;
    float: left;
}

.user-info {
    margin: 20px;
    width: 260px;
    border: 1px solid black;
}

.user-info td {
    width: 130px;
}

.user-info tr:first-child {
    color: #888;
    font-size: 14px;
    text-transform: uppercase;
}

.user-status {
    font-style: italic;
    color: #888;
    font-size: 14px;
}

.user-menu {
    width: 260px;
    margin: 0 20px 0 20px;
}

.user-menu ul {
    list-style: none;
    font-weight: bold;
    padding: 0;
}

.user-menu li {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid lightgray;
}

.user-menu li:last-child {
    border-bottom: none;
}

.user-menu i {
    margin-right: 20px;
}

.content {
    border: 1px solid red;
    margin-top: 20px;
    margin-left: 300px;
    width: calc(100% - 320px)
}

.content > div {
    border: 1px solid magenta;
}

#rating li {
    color: green;
}

#rating li span {
    color: black;
}

.stack-chart {
    height: 100px;
    margin: 20px 0 20px 0;
}

.stack-chart > .grid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.stack-chart > .grid > div:first-child {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 30px;
    margin: 10px 0 30px 0;
}

.stack-chart > .grid > div:last-child {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 30px;
    margin: 30px 0 0 0;
}

.stack-chart > .charts {
    position: relative;
    top: -166px;
    left: 0;
    width: 100%;
    height: 100px;
}

.stack-chart > .charts > div {
    width: 25px;
    margin: 0 20px 0 0;
    display: inline-block;
}