/*
Common styles.
*/

body {
    background: #222;
}

.page-header-text {
    color: white;
    font-size: 24px;
    font-family: Sans-Serif;
}

.form-header-text {
    color: black;
    font-size: 18px;
    font-family: Sans-Serif;
    text-transform: uppercase;
}

.label-text {
    color: black;
    font-size: 12px;
    font-family: Sans-Serif;
}

.form {
    background: white;
    width: 250px;
    padding: 25px 50px;
    margin: auto;
}

.form input {
    height: 35px;
    margin-bottom: 16px;
}

.form input:last-child {
    margin-bottom: 0px;
}

.form input[type="submit"]:hover {
    background: #444;
    border: 2px solid #444;
}

.form-btn {
    color: white;
    background: black;
    border: 2px solid black;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.width-full {
    width: 100%;
}
